{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
<style>
    #container-login{
        margin-top: 18%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color:#F3E2E2;
        max-width:  40rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    #username{
        border-left: 0px; 
        border-right: 0px; 
        border-top: 0px; 
        background-color: transparent;
        display: block;
    }
    #password{
        border-left: 0px; 
        border-right: 0px; 
        border-top: 0px; 
        background-color: transparent;
        display: block;
    }
    input{
        width: 100%;
    }
</style>
{% endblock meta %}

{% block content %}
<div  class="container" style="margin-bottom: 10%;">
    <div class="container" id="container-login">
        <h1 style="text-align: center;">LOGIN</h1>
        <p style="text-align: center;">Please login first to continue</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" id="username" name= "username">
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" id="password" name="password">
                </div>
              </div>
            <br>
            <input class="btn btn-dark login_btn" type="submit" value="Login">
        </form>
        <br>
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}	
        <p style="text-align: center;">
            Don't have any account? Please register first
            <a href="{%url 'story_9:signup'%}"><br>
                Register here</a>
        </p>
    </div>
<div>
{% endblock content %}
