{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
<style>
    #container-login{
        margin-top: 18%;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color:#F3E2E2;
        max-width:  40rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    #username{
        border-left: 0px; 
        border-right: 0px; 
        border-top: 0px; 
        background-color: transparent;
        display: block;
    }
    input{
        width: 100%;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        background-color: transparent;
    }

</style>
{% endblock meta %}

{% block content %}
<div  class="container" style="margin-bottom: 10%;">
    <div class="container" id="container-login">
        <h1 style="text-align: center;">SIGN UP</h1>
        <p style="text-align: center;">Please register if you don't have any account</p>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    {{form.username}}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    {{form.email}}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    {{form.password1}}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-10">
                    {{form.password2}}
                </div>
              </div>
            <br>
            <input class="btn btn-dark login_btn" type="submit" value="Sign Up" style="margin-left: 0px;">
        </form>
        <br>
        {{form.errors}}
        <br>
        <p style="text-align: center;">
            Already have account?
            <a href="{%url 'story_9:login'%}"><br>
                Login here</a>
        </p>
    </div>
<div>
{% endblock content %}
