{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
<style>
    img {
  border: 15px solid #F3E2E2;
    }
  #button-logout{
      margin-top: 10%;
      min-height: 20%;
  }
  @media screen and (max-width: 700px) {
    #button-logout {
        margin-top: 20%;
    }
  }
</style>
{% endblock meta %}

{% block content %}
<div  class="container" style="margin-bottom: 10%;">
    <div id="button-logout" style="text-align:right;">
        <a class="btn btn-dark"  href="{% url 'story_9:logout' %}" >Logout</a>
    </div>
    <h1 class="centertitle" style="margin-top: 20px;">Hello {{user.username}}!</h1>
    <br>
    <div style="text-align: center;">
        <img src="{% static 'welcoming.gif' %}" class="img-fluid" alt="Responsive image" >
        <br>
    </div>
<div>
{% endblock content %}
