{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story7.css'%}">
<title>Home</title>
<title>jQuery Accordion</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h1 id=title-somefact>SOME FACTS ABOUT ME</h1>
</div>
<div class="container" id="container-fact">
    <div class="accordion-container">
        <div href="#" class="accordion-toggle">About me
            <div class="move">
                <div class="move-up"><img src="{% static 'button-up.png' %}" width="25" height="25"></div>
                <div class="move-down"><img src="{% static 'button-down.png' %}" width="25" height="25"></div>
            </div>
        </div>
        <div class="accordion-content">
            Hello! My name is Nabila Dita. I'm a computer science student at University of Indonesia!
        </div>
    </div>
    <div class="accordion-container">
        <div class="accordion-toggle">Activities
            <div class="move">
                <div class="move-up"><img src="{% static 'button-up.png' %}" width="30" height="30"></div>
                <div class="move-down"><img src="{% static 'button-down.png' %}" width="30" height="30"></div>
            </div>
        </div>
        <div class="accordion-content">
            Staff of Administrative at DPM Fasilkom UI <br>
            Secretary at BETIS 2021
        </div>
    </div>
    <div class="accordion-container">
        <div href="#" class="accordion-toggle">Experiences
            <div class="move">
                <div class="move-up"><img src="{% static 'button-up.png' %}" width="30" height="30"></div>
                <div class="move-down"><img src="{% static 'button-down.png' %}" width="30" height="30"></div>
            </div>
        </div>
        <div class="accordion-content">
            Staff of Editorial Marketing at COMPFEST 12<br>
            Staff of Academic and Tutors at BETIS 2020
        </div>
    </div>
    <div class="accordion-container">
        <div href="#" class="accordion-toggle">Achievement
            <div class="move">
                <div class="move-up"><img src="{% static 'button-up.png' %}" width="30" height="30"></div>
                <div class="move-down"><img src="{% static 'button-down.png' %}" width="30" height="30"></div>
            </div>
        </div>
        <div class="accordion-content">
            Ratoeh Jaroeh Dancer in Opening Ceremony Asian Games 2018
        </div>
    </div>


    
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">></script>
<script type="text/javascript">
$(document).ready(function () {
$('.accordion-toggle').on('click', function(event){
    event.preventDefault();
    var accordion = $(this);
    var content = accordion.next('.accordion-content');
    
    accordion.toggleClass("open");
    content.slideToggle(250);
});
$('.move-down').click(function (e) {
    var self = $(this),
        item = self.parents('div.accordion-container'),
        swap = item.next();
    item.before(swap.detach());
});
$('.move-up').click(function (e) {
    var self = $(this),
        item = self.parents('div.accordion-container'),
        swap = item.prev();
    item.after(swap.detach());
});
});
</script>
{% endblock content %}
