{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story8.css'%}">
<title>Story 8</title>
{% endblock meta %}

{% block content %}
<div  class="container">
    <h1 class="centertitle">Let's Find Book That You Want!</h1>
    <br>
    <br>
    <input id="keyword" placeholder="Insert keyword">
    <br>
    <br>
    <table class="table table-hover">
        <tbody id="daftar_isi"> 
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $("#keyword").keyup(function(){
        var ketikan = $("#keyword").val();
        console.log(ketikan);
        $.ajax({
            url: '/data?q=' + ketikan,
            success: function(data) {
                //console.log(data);
                var array_items = data.items;
                //console.log(array_items);
                $("#daftar_isi").empty();
                for(i=0; i< array_items.length; i++){
                    var title = array_items[i].volumeInfo.title;
                    var authors = array_items[i].volumeInfo.authors;
                    var image = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    var rating = array_items[i].volumeInfo.averageRating;
                    var previewLink = array_items[i].volumeInfo.previewLink;
                    if(authors==undefined){
                        var authors = "-"
                    }
                    if(rating==undefined){
                        var rating = "-"
                    }
                    //$("#daftar_isi").append("<li>"+judul+"<br><img src="+gambar+"></li>");
                    $("#daftar_isi").append(
                        "<tr>" + 
                        "<td>" + "<img src="+image+">"+ "</td>" +
                        "<td>" + "<b>" + title + "</b>" + "<br>" + 
                        "Authors: " + authors + "<br>" +
                        "Rating: " + rating + "<br>" +  "<br>" +
                        "<a class= btn btn-dark href=" + previewLink + '>Preview Book</a>'+
                        "</td>" +"</tr>");
                }
            }
        });
    });
</script>    
{% endblock content %}
