#container-fact{
    margin-top: 5%;
    margin-bottom: 15%;
}
.accordion-container {
	margin: 0 0 10px;
}
#title-somefact{
    margin-top: 20%;
    text-align: center;
}
.move{
    text-align: right;
}
.move-up{
    display: inline-block;
}
.move-down{
    display: inline-block;
}
.accordion-toggle {
    border-radius: 5px;
	position: relative;
	display: block;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 300;
	background: rgb(43, 42, 42);
	color: #fff;
	text-decoration: none;
}
.accordion-toggle.open,.accordion-toggle:hover {
	background:black;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
}
.accordion-content {
	display: none;
	padding: 20px;
    overflow: auto;
    background-color:#F3E2E2;
}