{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Add Participant</title>
{% endblock meta %}

{% block content %}
<h1 class="centertitle">{{page_title}}</h1>

<div class="container" style="max-width: 40rem;">
<form method= "POST">
  {%csrf_token%}
  {%for form in participants_form%}
  <div class="form-group">
    {{form.label}}
    {{form}}
    </div>
  {% endfor %}

<button type="submit" class="btn btn-dark" style="margin-bottom: 25px;">Send</button>
</form>
</div>
{% endblock content %}
