{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story6</title>
{% endblock meta %}

{% block content %}

<div class="container">
  <h1 class="centertitle">{{page_title}}</h1>
  <a class="btn btn-lg btn-dark" href="/story6/addactivity" style="margin-bottom: 30px;">Add more</a>
  <div class="row">
    {% for activity in activities %}
    <div class="col-md-4">
      <div class="card" style="margin-bottom: 20px; background-color: #F3E2E2;">
        <div class="card-body">
          <h5 class="card-title"><b>Activity: {{activity.Activity}}</b></h5>
          <p><b>Description:</b> {{activity.Description}}</p>
          <p>Participants:</p>
          {%for participant in participants %}
                {%if participant.activity == activity%}
                <p>{{participant.Name}}</p>
                {% endif %}
            {%endfor%}
          <a class="btn btn-dark" href="{% url 'story_6:addparticipant' activity_id=activity.id%}" style="width: min-content; margin-right: 30px;">Add Participant</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock content %}
