{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
      crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'style.css'%}">
      {% block meta %}
      {% endblock meta %}
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand" href="{%url 'main:home'%}"><b>nabila dita</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'main:home'%}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/aboutme">About Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/hobbies">Hobbies</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/experiences">Experiences</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/story1">Story 1</a>
          <a class="dropdown-item" href="/story5">Story 5 - Courses</a>
          <a class="dropdown-item" href="/story6">Story 6 - Activities</a>
          <a class="dropdown-item" href="/story7">Story 7</a>
          <a class="dropdown-item" href="/story8">Story 8</a>
          <a class="dropdown-item" href="/story9">Story 9</a>
        </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock content %}
</body>

</html>
