{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Contact</title>
{% endblock meta %}

{% block content %}
<h1 class="centertitle">CONTACT</h1>
<p class="center" id="reachme">reach me through my social media:</p>
<div class="container-fluid" id="iconcontainer">
  <div class="d-inline p-2">
      <a href="https://www.linkedin.com/in/nabiladita"><img src="{% static 'linkedin.png' %}" class="img-fluid" height="70" width="70" /></a>
  </div>
  <div class="d-inline p-2">
    <a href="https://www.instagram.com/nabiladita/"><img src="{% static 'ig.png' %}" class="img-fluid" height="70" width="70" /></a>
  </div>  
  <div class="d-inline p-2">
    <a href="mailto:nabiladitaputri@gmail.com"><img src="{% static 'email.png' %}" class="img-fluid" height="70" width="70" /></a>
  </div>
</div>
{% endblock content %}

