{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story5</title>
{% endblock meta %}

{% block content %}
<h1 class="centertitle">{{post.Course}}</h1>

<div class="container" style="max-width: 40rem;">
    <div class="container-detail">
    <p><b>Lecturer:</b> {{post.Lecturer}}</p>
    <p><b>Credits:</b> {{post.Credits}}</p>
    <p><b>Description:</b> {{post.Description}}</p>
    <p><b>Term:</b> {{post.Term}}</p>
    <p><b>Room:</b> {{post.Room}}</p>
    </div>
    <a class="btn btn-lg btn-dark" href="/story5" style="margin-bottom: 30px; margin-left: 10px;">Back to courses</a>
</div>
{% endblock content %}
