{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story5</title>
{% endblock meta %}

{% block content %}

<div class="container">
  <h1 class="centertitle">{{page_title}}</h1>
  <a class="btn btn-lg btn-dark" href="/story5/create" style="margin-bottom: 30px;">Add more</a>
  <div class="row">
    {% for post in posts %}
    <div class="col-md-4">
      <div class="card" style="margin-bottom: 20px; background-color: #F3E2E2;">
        <div class="card-body">
          <h5 class="card-title"><b>Course: {{post.Course}}</b></h5>
          <p><b>Credits:</b> {{post.Credits}}</p>
          <a class="btn btn-dark" href="{% url 'story_5:detail' post.id %}" style="width: min-content; margin-right: 30px;">Detail</a>
          <a class="btn btn-danger" href="{% url 'story_5:delete' post.id %}" style="width: min-content; margin-right: auto;">Delete</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock content %}
